<% include ./Partials/header %>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
<label for="Posttitle">Title</label>
  <input class="form-control" type="text" name="Posttitle" value="">
<label for="PostBody">Description</label>
  <textarea class="form-control" name="PostBody" rows="8" cols="80"></textarea>
  <button class="btn btn-primary" type="submit" name="publish" style="margin-top:15px;">Publish</button>
</div>
</form>

<% include ./Partials/footer %>
